<div *ngIf="field" class="field-container">
    <ng-container #fieldContainer></ng-container>
    <section class="field-container__options">
        <div class="inline-block md:hidden">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opções do campo do formulário">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editFieldModal.open()">
                    <mat-icon color="primary">edit</mat-icon>
                    <span>Editar</span>
                </button>
            </mat-menu>
        </div>
        <div class="hidden md:inline-block">
            <button mat-icon-button (click)="editFieldModal.open()">
                <mat-icon color="primary">edit</mat-icon>
            </button>
        </div>
    </section>
</div>

<app-edit-field-modal #editFieldModal [field]="field" (fieldEdited)="editField($event)"></app-edit-field-modal>