<h1 class="home__project-title">Angular sandbox</h1>
<section class="home__section home__project-introduction">
    <p class="home__project-description">Um projeto com todas as minhas ideias, conhecimentos e desenvolvimentos que
        faço no
        meu tempo livre no framework
        Angular :)</p>
    <app-stroked-button color="primary" routerLink="/about">mais sobre mim ></app-stroked-button>
</section>

<section class="home__section home__project-sections">
    <h2>Seções</h2>
    <div class="home__project-sections__navigator">
        <app-button color="primary" routerLink="/custom-components">componentes customizados</app-button>
        <app-button color="primary" routerLink="/form-composer">gerador de formulários</app-button>
    </div>
</section>