<h1 class="home__project-title">Angular sandbox</h1>
<section class="home__introduction">
    <p class="home__project-description">Um projeto com todas as minhas ideias, conhecimentos e desenvolvimentos que
        faço no
        meu tempo livre no framework
        Angular :)</p>
    <app-stroked-button color="primary" routerLink="/about">mais sobre mim ></app-stroked-button>
</section>

<section>
    <h2>Seções</h2>
    <app-button color="primary" routerLink="/custom-components">componentes customizados</app-button>
</section>