/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.error-message {
    font-size: 0.9rem;
    color: rgb(139, 0, 0);
    font-weight: bold;

    display: inline-block;
}